@include tablet {
  #navbar .hamburger {
    opacity: 0;
  }

  /* Show Menu */
  #navbar .menu {
    visibility: visible;
  }

  #navbar .menu > div {
    transform: scale(1);
  }

  #navbar .menu > div > div {
    opacity: 1;
  }

  #navbar .menu > div > div ul {
    display: flex;
    justify-content: flex-end;
  }

  #navbar .menu > div > div ul li {
    font-size: 1.1rem;
  }

  #navbar .menu {
    display: block;
  }

  #navbar .menu > div {
    display: block;
  }
}
