// Variables
$light-color: rgb(206, 214, 243);
$dark-color: rgb(138, 146, 173);
$primary-color: #ff6363;
$secondary-color: rgb(14, 25, 45);
$secondary-color-light: rgb(27, 42, 67);
$animation-speed: 0.3s;
$border-radius: 3px;
