#section-b {
  // margin-top: -15rem;

  p {
    margin-bottom: 1rem;
  }

  .recent-tech {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-image {
    text-align: center;
    position: relative;
    width: 250px;
    height: 332px;
    text-align: center;
    margin: 4rem auto 0;
    background: $primary-color;
    border-radius: 25px;
    transition: all $animation-speed ease-in;

    img {
      width: 100%;
      height: auto;
      opacity: 0.6;
      border-radius: 25px;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media (min-width: 769px) {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-content: start;

      .about-image {
        align-self: start;
        margin: 0;
        justify-self: center;
      }
    }
  }
}
