// containers
section {
  margin: 0 auto 15rem;
  max-width: 1300px;
}

#main-wrapper {
  padding: 0 1rem;
}

.card {
  margin: 6rem 0;
}

// headings
.m-heading {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: $light-color;
}

// text utilities
.text-primary {
  color: $primary-color;
}
